// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Custom variables
$basic-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$basic-font-size: 14px;
$basic-color: #3b3d40;
$heading-font: "Oswald", sans-serif;
$h1-size: 42px;
$bg-no-active: transparent;
$white: #fff;
$white-hover: rgba(255, 255, 255, 0.4);
$red: #fa3c37;
$red-border: #f80c06;
$red-hover: #fb6d69;
$slider-bg: #d5d5d5;
$slider-bg-dark: #838d8f;


